extends layout

block content
  section#home
    .home-text
      h1=title
      h2 ride the bubble
      p Mission Statement .... short sentence that captures the idea of the product

    .float-divs-container
      h3 Join Our Community
      .float-divs
        ul
          li
            i.fab.fa-reddit-square.float-div.social-div-icon
          li
            i.fab.fa-twitter-square.float-div.social-div-icon
          li
            i.fab.fa-facebook-square.float-div.social-div-icon
          li
            i.fab.fa-digg.float-div.social-div-icon
      
  
  #header
    .header-title-container
      a.header-title(href="#home")
        =title
    .header-nav-container
      ul.header-nav
        li.header-nav-item
          a.header-nav-link(href="#coin") Coin
        li.header-nav-item
          a.header-nav-link(href="#team") Team
        li.header-nav-item
          a.header-nav-link(href="#involve") Get Involved
  
  section
    a.anchor#about
    .section-text
      h1 About ShitCoin
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum..
    .float-divs-container
      .float-divs
        ul
          li
            .topic-div
              i.fab.fa-btc.float-div.topic-div-icon
              h2 topic 1
              p text about topic 1 blah blah blah it is good text about topic 1 blah blah blah it is good
          li
            .topic-div
              i.fab.fa-accessible-icon.float-div.topic-div-icon
              h2 topic 2
              p text about topic 1 blah blah blah it is good text about topic 1 blah blah blah it is good
          li
            .topic-div
              i.fas.fa-bell.float-div.topic-div-icon
              h2 topic 3
              p text about topic 1 blah blah blah it is good text about topic 1 blah blah blah it is good

  
  section.alt
    a.anchor#video
    .section-text
      h1 It's a video
      
      p size filler
      p size filler
      p size filler
      p size filler
      p size filler
      p size filler
      p size filler
      p size filler
      
      
  
  section
    a.anchor#about
    .section-text
      h1 Why ShitCoin
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum..
    .float-divs-container
      .float-divs
        ul
          li
            .point-div
              i.fab.fa-btc.float-div.point-div-icon
              h2 point 1
              p text about topic 1 blah blah blah it is good text about topic 1 blah blah blah it is good
          li
            .point-div
              i.fab.fa-btc.float-div.point-div-icon
              h2 point 2
              p text about topic 1 blah blah blah it is good text about topic 1 blah blah blah it is good
          li
            .point-div
              i.fab.fa-btc.float-div.point-div-icon
              h2 point 3
              p text about topic 1 blah blah blah it is good text about topic 1 blah blah blah it is good
          li
            .point-div
              i.fab.fa-btc.float-div.point-div-icon
              h2 point 1
              p text about topic 1 blah blah blah it is good text about topic 1 blah blah blah it is good
          li
            .point-div
              i.fab.fa-btc.float-div.point-div-icon
              h2 point 2
              p text about topic 1 blah blah blah it is good text about topic 1 blah blah blah it is good
          li
            .point-div
              i.fab.fa-btc.float-div.point-div-icon
              h2 point 3
              p text about topic 1 blah blah blah it is good text about topic 1 blah blah blah it is good

  section.alt
    a.anchor#video
    .section-text
      h1 Compare
      
      p size filler
      p size filler
      p size filler
      p size filler
      p size filler
      p size filler
      p size filler
      p size filler
      
      
      
  section
    a.anchor#about
    .section-text
      h1 Who is this shit for?
    .float-divs-container
      .float-divs
        ul
          li
            .user-div
              i.fab.fa-btc.float-div.user-div-icon
              h2 point 1
              p text about topic 1 blah blah blah it is good text about topic 1 blah blah blah it is good
          li
            .user-div
              i.fab.fa-btc.float-div.user-div-icon
              h2 point 2
              p text about topic 1 blah blah blah it is good text about topic 1 blah blah blah it is good
          li
            .user-div
              i.fab.fa-btc.float-div.user-div-icon
              h2 point 3
              p text about topic 1 blah blah blah it is good text about topic 1 blah blah blah it is good
          li
            .user-div
              i.fab.fa-btc.float-div.user-div-icon
              h2 point 1
              p text about topic 1 blah blah blah it is good text about topic 1 blah blah blah it is good

  section
    a.anchor#about
    .section-text
      h1 something else down here
      p blah blah buy this blah blah buy this blah blah buy this blah blah buy this blah blah buy this blah blah buy this blah blah buy this 

  .footer
    a.anchor#team
    .dev-container
      .dev-divs
        ul
          li
            i.fas.fa-user.dev
          li
            i.fas.fa-user.dev
          li
            i.fas.fa-user.dev
          li
            i.fas.fa-user.dev
      h2 Footer blah
