doctype html
html
  head
    title= title
    link(href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
  
  body
    block content
    
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")

  script(src="javascripts/script.js")
  script(defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js")
