:root {
  --primary-bg-color: #383745;
  --secondary-bg-color: #22202b;
  --third-bg-color: #cdcba6;
  --header-bg-color: var(--secondary-bg-color);
  --div-bg-color: #ca8d6e;
  --light-text: #e7e7de;
  --dark-text: #e7e7de;
}
h1,
a,
h2 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: var(--primary-bg-color);
  color: var(--dark-text);
}
.alt {
  background-color: var(--secondary-bg-color);
}
a {
  color: var(--light-text);
}
a.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.dev {
  display: inline-block;
  background: var(--div-bg-color);
  text-align: center;
  font-size: 50px;
  padding: 20px;
  margin: 20px 5px 0px 5px;
  transition: all 0.2s ease-in-out;
}
.dev:hover {
  transform: scale(1.1);
}
.dev-container {
  text-align: justify;
}
.dev-divs {
  float: right;
  position: relative;
  left: -50%; /* or right 50% */
  text-align: left;
}
.dev-divs ul {
  position: relative;
  left: 100%;
}
.dev-divs ul li {
  float: right;
}
.header-edit {
  position: fixed;
  top: 0;
  width: 100%;
}
.header-edit .header-title {
  font-size: 20px;
  -webkit-transition: font-size 300ms ease-in-out, height 300ms ease-in-out;
  -moz-transition: font-size 300ms ease-in-out, height 300ms ease-in-out;
  -o-transition: font-size 300ms ease-in-out, height 300ms ease-in-out;
  transition: font-size 300ms ease-in-out, height 300ms ease-in-out;
}
.footer {
  background: var(--header-bg-color);
  height: 300px;
}
.footer h2 {
  color: var(--light-text);
}
#header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0px;
  height: 50px;
  line-height: 50px;
  background: var(--header-bg-color);
  box-shadow: 0px 5px 3px var(--header-bg-color);
  z-index: 99;
}
#header a {
  text-decoration: none;
}
.header-title-container,
.header-nav-container {
  display: inline-block;
}
.header-nav-container {
  float: right;
  padding-right: 5vw;
}
.header-title-container {
  padding-left: 5vw;
}
.header-nav-item,
.dev-li {
  display: inline;
  padding: 5px 10px;
}
.header-title,
.header-nav-link {
  text-transform: uppercase;
}
.header-title {
  font-size: 30px;
  -webkit-transition: font-size 300ms ease-in-out, height 300ms ease-in-out;
  -moz-transition: font-size 300ms ease-in-out, height 300ms ease-in-out;
  -o-transition: font-size 300ms ease-in-out, height 300ms ease-in-out;
  transition: font-size 300m;
}
.header-nav-link {
  font-size: 16px;
}
#home {
  text-align: center;
  padding: 100px 0;
  background: var(--secondary-bg-color) /* For browsers that do not support gradients */;
  background: -webkit-linear-gradient(var(--secondary-bg-color) 85%, var(--primary-bg-color)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(var(--secondary-bg-color) 85%, var(--primary-bg-color)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(var(--secondary-bg-color) 85%, var(--primary-bg-color)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(var(--secondary-bg-color) 85%, var(--primary-bg-color)); /* Standard syntax */
}
#home h1 {
  font-size: 50px;
}
#home h2 {
  font-size: 30px;
}
#home h3 {
  font-size: 16px;
}
#home p {
  font-size: 20px;
}
section {
  padding: 0 10vw;
  text-align: justify;
}
section h1,
section h2,
section h3 {
  text-align: center;
}
.home-text {
  padding: 0 30vw;
}
.section-text {
  padding: 0 20vw;
  font-size: 20px;
}
.float-divs {
  position: relative;
}
.float-divs ul {
  position: relative;
  text-align: center;
}
.float-divs ul li {
  display: inline-block;
}
.float-div {
  display: inline-block;
  background: var(--div-bg-color);
  border-radius: 5px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  z-index: -1;
}
.float-div:hover {
  transform: scale(1.1);
}
.float-divs-container {
  padding: 5vh 0vw;
  text-align: justify;
}
.point-div-icon {
  padding: 30px;
  font-size: 30px;
}
.point-div {
  width: 250px;
  margin: 25px 3vw;
}
.topic-div-icon {
  padding: 60px;
  font-size: 100px;
}
.topic-div {
  width: 250px;
  margin: 5px 3vw;
}
.user-div-icon {
  padding: 30px;
  font-size: 40px;
}
.user-div {
  width: 200px;
  margin: 25px 2vw;
}
.social-div-icon {
  margin: 5px 15px;
  padding: 10px;
  font-size: 30px;
}
